.task-list {
  width: auto;
  margin: 2rem 0;
  padding-left: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list {
  background-color: lightgrey;
  color: black;
  width: 350px;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 5px;
  padding: 0.2rem 0.5rem 0.2rem 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 0;
}

.list-type {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  border-left: 1px solid black;
  font-size: 12px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statuses {
  display: flex;
}

.status-btn,
.delete-btn {
  font-size: 12px;
  margin: 0 5px;
  padding: 5px 7px;
  justify-content: center;
  height: 3rem;
  border: 1px solid transparent;
}

.status-btn {
  background-color: rgb(227, 227, 227);
  color: black;
  border: 1px solid transparent;
}

.delete-btn {
  background-color: rgb(108, 150, 255);
}

.buttons {
  display: flex;
}
