.list-ind {
  display: flex;
  list-style: none;
  background-color: lightgrey;
  color: black;
  width: 400px;
  border-radius: 0.5rem;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin: 3rem auto;
}

.header1 {
  text-transform: capitalize;
  margin-top: 2rem;
}

.bi-emoji-smile {
  color: rgb(108, 150, 255);
  margin: 1rem 0 -0.2rem 0.5rem;
  padding: 0;
}

.back-btn {
  display: flex;
  vertical-align: middle;
  line-height: 0.1rem;
}
